    
    <td class="show-row week-name">{{weekDay.name}} <ng-content></ng-content></td>
    <td class="show-row">{{weekDay.reqular.used}}/{{weekDay.reqular.total}}</td>
    <td class="show-row">{{weekDay.reqular.used/weekDay.reqular.total | percent}}</td>
    <td class="show-row">{{weekDay.diesel.used}}/{{weekDay.diesel.total}}</td>
    <td class="show-row">{{weekDay.diesel.used/weekDay.diesel.total | percent}}</td>
    <td class="show-row">{{weekDay.premium.used}}/{{weekDay.premium.total}}</td>
    <td class="show-row">{{weekDay.premium.used/weekDay.premium.total | percent}}</td> 