<div class="container ">
  <app-total [status]="status" [myimage]="myimage"></app-total>
  <div class="card body">
      <div>
          <h4 class="title">Data From each Branch</h4>
      </div>
      <div class="card">
    <div app-branch>
        <h5 class="branch">Branch A</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Weeks</th>
              <th scope="col">Reqular</th>
              <th scope="col"></th>
              <th scope="col">Diesel</th>
              <th scope="col"></th>
              <th scope="col">Premium</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              app-week-row
              [weekDay]="this.generateWeekRow()"
              *ngFor="let item of [1, 2, 3, 4]; index as i"
            >
              {{
                i + 1
              }}
            </tr>
          </tbody>
        </table>
    
        <h5 class="branch">Branch B</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Weeks</th>
              <th scope="col">Reqular</th>
              <th scope="col"></th>
              <th scope="col">Diesel</th>
              <th scope="col"></th>
              <th scope="col">Premium</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              app-week-row
              [weekDay]="this.generateWeekRow()"
              *ngFor="let item of [1, 2, 3, 4]; index as i"
            >
              {{
                i + 1
              }}
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
 
</div>
