.logo{
    width: 123px;
    height:100px;
    padding-top:10px;
}
.container{
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.08);
    border-radius: 4px;
   
}
.card-title{
    background-color: green;
    padding:10px;
    color:white;
}

.progress-bar   {
    background-color: green;
}
.title{
    text-align: center;
    color:orangered;
}
.card-text{
    font-weight:bold;
}