<div>
  <img class="logo" [src]="myimage" />
</div>
<div>
  
  <div class="card">
    <div>
        <div class="col-md-12">
          <h4 class="title">Annual Month Overall Data of PTT</h4>
        </div>
      </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5
            class="card-title"
            [ngStyle]="{
              background:
                (status[0].used / status[0].total) * 100 >= 70
                  ? 'red'
                  : '#28a745'
            }"
            select="h5"
          >
            Regular
          </h5>
          <p class="card-text">
            {{ status[0].used }}/{{ status[0].total }} ({{
              status[0].used / status[0].total | percent: "2.2-2"
            }})
          </p>
          <p>Utilization of Regular</p>
          <div class="progress">
            <div
              [ngStyle]="{
                background:
                  (status[0].used / status[0].total) * 100 >= 70
                    ? 'red'
                    : '#28a745'
              }"
              role="progressbar"
              aria-valuenow="status[0].used/status[0].total*100"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="(status[0].used / status[0].total) * 100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5
            class="card-title"
            [ngStyle]="{
              background:
                (status[1].used / status[1].total) * 100 >= 70
                  ? 'red'
                  : '#28a745'
            }"
            select="h5"
          >
            Diesel
          </h5>
          <p class="card-text">
            {{ status[1].used }}/{{ status[1].total }} ({{
              status[1].used / status[1].total | percent: "2.2-2"
            }})
          </p>
          <p>Utilization of Diesel</p>
          <div class="progress">
            <div
              [ngStyle]="{
                background:
                  (status[1].used / status[1].total) * 100 >= 70
                    ? 'red'
                    : '#28a745'
              }"
              role="progressbar"
              aria-valuenow="status[1].used/status[1].total*100"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="(status[1].used / status[1].total) * 100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5
            class="card-title"
            [ngStyle]="{
              background:
                (status[2].used / status[2].total) * 100 >= 70
                  ? 'red'
                  : '#28a745'
            }"
            select="h5"
          >
            Premium
          </h5>
          <p class="card-text">
            {{ status[2].used }}/{{ status[2].total }} ({{
              status[2].used / status[2].total | percent: "2.2-2"
            }})
          </p>
          <p>Utilization of Premium</p>
          <div class="progress">
            <div
              [ngStyle]="{
                background:
                  (status[2].used / status[2].total) * 100 >= 70
                    ? 'red'
                    : '#28a745'
              }"
              role="progressbar"
              aria-valuenow="status[2].used/status[2].total*100"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="(status[2].used / status[2].total) * 100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
